#green{
    background-color: green ;
}

header #date-time{
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 20px;
    background-color: bisque;
}
#center-this{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: blanchedalmond;
}
.textcenter{
    height: 200px;
}
.row{
    height: 60px;
    padding: 5px;
    border: solid black 2px;
    border-radius: 6px;

}
.dark-grey{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
    border-radius: 5px;
}
.save-icon{
    background-color: lightblue;
    border-radius: 5px;
    height:100% ;
}
div.save-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-fields{
    
    text-decoration: none;
    border: solid white;
}
textarea{
    font-size: 20px;
    resize: none;
    background: transparent;
    width: 100%;
    color: aliceblue;
    border: transparent;
    
}
::placeholder{
    color: aliceblue;
    opacity: 1;
}